NODE_ENV=development
DATABASE_URL=
MONGODB_DB_NAME=restaurantpro
AUTH_SECRET=
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=RestaurantPro
NEXT_PUBLIC_RESTAURANT_SLUG=demo-restaurant
NEXT_PUBLIC_DEFAULT_LOCALE=pt-BR
NEXT_PUBLIC_DEFAULT_TIMEZONE=Africa/Luanda
NEXT_PUBLIC_DEFAULT_CURRENCY=AOA
REDIS_URL=
NEXT_PUBLIC_CDN_URL=
FEATURE_FLAGS_JSON=
BACKUP_RETENTION_DAYS=7
